//This file should define our color scheme throughout the site

// Variables for color
// Base color scheme

//TODO: Change colors to match the new color scheme

$primary-color: #66ccff;  // Blue
$secondary-color: #0099cc;  // Light Blue
$tertiary-color: #006699;  // Dark Blue

$info-color: #2196f3;  // Blue
$success-color: #4caf50;  // Green
$danger-color: #f44336;  // Red
$warning-color: #ff9800;  // Yellow
