// Component only for styling messages from the Django messages framework

@import "../base/base";

.messages {
  list-style: none;
  padding: 0;
  margin: 10px auto; // Center the container horizontally
  width: 100%;
  max-width: 600px;

  li {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center; // Center the text inside the list items

    &.debug {
      background-color: #333;
    }
    &.info {
      background-color: #5bc0de;
    }
    &.success {
      background-color: $success-color;
    }
    &.warning {
      background-color: $warning-color;
    }
    &.error {
      background-color: $danger-color
    }
  }
}
