{% comment %}
    Footer template.
{% endcomment %}
{% load custom_filters %}

<div class="footer-basic d-flex align-items-center justify-content-center">
  <footer>
    {% social_media_row %}
    <div class="footer-links-row">
      <ul class="footer-links">
        <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{% url 'terms_and_conditions' %}">Terms</a></li>
        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
      </ul>
    </div>
    <p class="copyright text-center">Your App Name © {% now "Y" %}</p>
  </footer>
</div>


