{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Almost there!</h4>
        <p>An email has been sent to your address with instructions to reset your password.</p>
        <hr>
        <p class="mb-0">If you don't see the email, please check your spam or junk folder.</p>
    </div>
    <div class="d-flex justify-content-between mt-2">
        <button id="resend-email" class="btn btn-secondary">Resend Email</button>
{#        <a href="{% url 'contact_support' %}" class="btn btn-danger">Contact Support</a>#}
    </div>
    <div class="mt-4">
        <h5>Important:</h5>
        <ul>
            <li>The password reset link will expire in 24 hours.</li>
            <li>If you did not request this reset, please ignore the email and contact support for suspicious activities.</li>
        </ul>
    </div>
</div>
{% endblock %}
