{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Reset Password</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'password_reset' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Send Password Reset Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
